{{- if .Values.mimir.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubefin.fullname" . }}-mimir-config
data:
  config.yaml: |
    {{- tpl .Values.mimir.config $ | nindent 4 }}
{{- end }}
